*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

header{
  background-image: url("../img/header.png");
  height: 620px;
  background-position: fixed;
  width: 100%;
}

.top-wrapper{
  text-align: center;
  color: #ffffff;
  position: relative;
}


.menu{
  height: 64px;
  width: 80%;
  border: 1px dashed #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 150px;
  /* position: fixed; */
}

.menu h1{
  float: left;
  font-family: myriad-pro-regular;
  font-weight: normal;
  margin-top: 15px;
  margin-left: 15px;
}


.burger-menu {
  position: absolute;
  left: 900px;
  width: 40px;
  height: 44px;
}

.burger-menu:hover{
  cursor: pointer;
}


.burger-menu p {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
}
.burger-menu p:nth-of-type(1) {
  top: 20px;
}
.burger-menu p:nth-of-type(2) {
  top: 30px;
}
.burger-menu p:nth-of-type(3) {
  top: 40px;
}

.close{
  display: none;
}

.close-menu{
  position: absolute;
  top: 30px;
  left: 880px;
  color: #fff;
  display: flex;
  background-color: rgba(224, 214, 214, 0.1);
  z-index: 5;
}

.close-menu:hover{
  cursor: pointer;
}

.fa-times{
  margin-right: 5px;
  margin-top: 4px;
}


.menu-modal{
  width: 100%;
  background-color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 100px;
  display: none;
}

.menu-modal ul{
  list-style-type: none;
}

.menu-modal a{
  text-decoration: none;
}

.menu-modal li{
  border-bottom: 1px solid #3333;
  font-size: 30px;
  letter-spacing: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333333;
}

.menu-modal li:hover{
  background-color: #3333;
  opacity: 0.7;

}

#jump-concept{
  z-index: 10;
}
  

.top-wrapper-text{
  padding-top: 130px;
  width: 258px;
  margin-right: auto;
  margin-left: auto;
  
}

.top-wrapper-text h1{
  font-size: 120px;
  height: 120px;
  font-family: myriad-pro-regular;
  font-weight: lighter;
 
}

.top-wrapper-text p{
  padding-top: 20px;
  font-size: 16px;
}

main{
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  border-right: 1px dashed #707070;
  border-left: 1px dashed #707070;
}

.concept::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background: #2b2b2b;
  transform: translateX(-50%);
}

.concept p{
  font-family: myriad-pro;
}
.concept img{
  width: 100%;
  height: 400px;
  z-index: 5;
  margin-top: 30px;
  position: relative;
}

.concept-backcolor{
  background-color: #EDEDED;
  width: 1280px;
  height: 240px;
  margin-left: -170px;
  display: inline-block;
  position: absolute;
  top: 1200px;
  z-index: 3;
}

main h1{
  font-family: Poppins;
  font-size: 36px;
  color: #333333;
  padding-top: 50px;
}

h2{
  font-family: Poppins;
  font-size: 30px;
  color: #333333;
  padding-top: 50px;
}

main section p{
  color: #2B2B2B;
  font-size: 16px;
  font-family: poppins, sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.work, .concept{
  text-align: center;
}

.work{
  margin-top: 120px;
}

.work .border{
  border-bottom: 1px dashed #707070;
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.container{
  display: flex;
}

.group2{
  margin-left: auto;
}

.decoration{
  padding-top: 150px;
}

.wedding, .for-yourself{
  margin-top: 100px;
}

.container h1{
  padding-top: 0px;
  text-align: left;
}

.container p{
  margin-top: 0px;
  text-align: left;
  font-family: poppins, sans-serif
}

.backcolor2{
  background-color: #EDEDED;
  width: 1280px;
  height: 400px;
  margin-left: -170px;
  z-index: 3;
  text-align: center;
}

.member{
  display: flex;
  width: 960px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
  border: 1px dashed #707070;
}

.florist h1{
  padding-top: 90px;
  padding-bottom: 30px;
  text-align: center;
}

.florist p{
  margin-top: 0px;
  font-family: poppins, sans-serif;
}

.shiyu h1, .mao h1, .omichan h1{
text-align: left;
font-size: 24px;
}

.shiyu p, .mao p, .omichan p{
  text-align: left;
}

.info{
  margin-top: 400px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  
}

.info-text h1{
  text-align: center;
  margin-top: 250px;
  font-size: 40px;
  font-family: poppins, sans-serif;
}

.info-text p{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 16px;
}

.shop-info{
  display: flex;
}



.address{
  margin-left: auto;
}

th{
  border-right: 1px solid #707070;
  vertical-align: top;
  font-weight: normal;
}

table{
  border: 1px dashed #707070;
  height: 320px;
  width: 432px;
  padding: 20px 10px;
  border-collapse: separate;
  border-spacing: 20px 8px;
  font-family: myriad-pro-regular;
}

tr{
  vertical-align: top;
}


.down-wrapper{
  background-image: url("../img/contact_us.png");
  background-size: cover;
  text-align: center;
  margin-top: 100px;
  height: 450px;
}

.down-wrapper h1{
  font-family: Poppins;
  font-size: 36px;
  color: #333333;
  padding-top: 80px;

}

.down-wrapper p{
  padding-top: 20px;
  font-family: poppins, sans-serif;
}

.down-wrapper .btn-contact{
  width: 300px;
  height: 60px;
  background-color: #FFFFFF;
  margin: 20px auto;
  font-size: 20px;
  padding-top: 15px;
  border: 1px solid #A0A0A0;
}

footer{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media(max-width: 375px){

body{
  width: 100%;
}  
header{
  width: 100%;
}

.menu{
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  left: 70px;
}

.burger-menu{
  left: 200px;
}

.close-menu{
  left: 180px;
}
main{
  width: 100%;
}

.work{
  margin-top: 20px;
}

.work .border{
  border-bottom: none;
}

.group1{
  margin-top: 50px;
}

.decoration{
  padding-top: 80px;
}

.florist{
  margin-top: 80px;
}
.concept-backcolor{
  width: 100%;
  margin: 0px;
}

.container{
  display: block;
}

.container img{
  width: 100%;
}

.backcolor2{
  width: 375px;
  margin: 0px;
}

.member{
  display: block;
  width: 100%;
}

.info{
  width: 100%;
  margin-top: 1250px;
}

.shop-info{
  display: block;
  margin-top: 30px;
}

.shop-info img{
  width: 100%;
}

 main h1{
  font-size: 50px;
}

main p{
 font-size: 20px;
 padding-left: 10px;
 padding-right: 10px;
}

main h2{
  text-align: left;
  font-size: 40px;
  padding-top: 10px;
  padding-left: 10px;
}

.florist h2, .florist p{
  padding-left: 35px;
}

.member section{
  padding-bottom: 30px;
}
table{
  padding: 20px 0px;
  width: 100%;
}

footer{
  width: 100%;
}

}
